<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Description of {{c_name}}</h1>
  <table>
    <tr>
      <th>Players</th>
      <th>Goals scored</th>
    </tr>
    {% for player, ngoals in p_data %}
      <tr>
        <td> {{player}} </td>
        <td> {{ngoals}} </td>
      </tr>
    {% endfor %}
  </table>

  <table>
    <tr>
      <th>Home Team</th>
      <th>Score</th>
      <th>Away Team</th>
    </tr>
    {% for ht, hid, at, aid, hg, ag in m_data %}
      <tr>
        <td> <a href = '/clubs/{{hid}}'</a> {{ht}} </td>
        <td> {{hg}} - {{ag}} </td>
        <td> <a href = '/clubs/{{aid}}'</a>{{at}} </td>
      </tr>
    {% endfor %}
  </table>

</body>


</html>
