<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>{{c_name}}</h1>
  <h2>List of {{c_name}} players</h2>
  <table>
    <tr>
      <th>Players</th>
      <th>Goals scored</th>
    </tr>
    {% for player, pid, ngoals in p_data %}
      <tr>
        <td> <a href = '/players/{{pid}}'</a> {{player}} </td>
        <td> {{ngoals}} </td>
      </tr>
    {% endfor %}
  </table>

  <h2>List of matches {{c_name}} took part in</h2>
  <table>
    <tr>
      <th>Home Team</th>
      <th>Score</th>
      <th>Away Team</th>
    </tr>
    {% for ht, hid, at, aid, hg, ag in m_data %}
      <tr>
        <td> <a href = '/clubs/{{hid}}'</a> {{ht}} </td>
        <td> {{hg}} - {{ag}} </td>
        <td> <a href = '/clubs/{{aid}}'</a> {{at}} </td>
      </tr>
    {% endfor %}
  </table>

</body>


</html>
