<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>List of matches in matchday {{fmdid}} for league <a href = '/leagues/{{lid}}'> {{lname}} </a> </h1>
    {% if matches|length == 0 %}
      <div> There are no matches in this matchday yet! </div>
    {% else %}
      <table>
        <tr>
          <th>Home Team</th>
          <th>Score</th>
          <th>Away Team</th>
        </tr>
        {% for uh, gh, ga, ua in matches %}
          <tr>
            <td> <a href = '/users/{{uh}}'</a> {{uh}} </td>
            <td> {{gh}} - {{ga}} </td>
            <td> <a href = '/users/{{ua}}'</a>{{ua}} </td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}

      {% if suerror == 1 %}
        <div> You can't play against yourself! </div>
      {% endif %}
      
      <h3> Create a new match in matchday {{fmdid}} </h3>
        <form method = "POST" action="/create_fmatch/{{lid}}/{{fmdid}}">
        Home user:
        <select name="username_h">
          {% for username in users %}
            <option value="{{username}}">{{username}}</option>
          {%endfor%}
        </select>
        Away user:
        <select name="username_a">
          {% for username in users %}
            <option value="{{username}}">{{username}}</option>
          {%endfor%}
        </select>
        <input type="submit" value="Create Fantasy Match">
      </form>

</body>


</html>
