<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>{{lname}}</h1>
  {% if users|length == 0 %}
    <div> There are no users in this league yet! </div>

  {% else %}
    <h2>Rankings for league {{lname}}</h2>
    <table>
      <tr>
        <th>Rank</th>
        <th>Users</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Defeats</th>
        <th>Points</th>
      </tr>
      {% for user, v, dr, de, pts, rank in users %}
        <tr>
          <td> {{rank}} </td>
          <td>
            <a href = '/users/{{user}}'</a> {{user}} </td>
          <td> {{v}} </td>
          <td> {{dr}} </td>
          <td> {{de}} </td>
          <td> {{pts}} </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if matchdays|length == 0%}
    <div> There are no fantasy matchdays in this league yet! </div>

  {%else%}
    <h2> Fantasy matchdays for league {{lname}}</h2>
    <table>
      <tr><th>Matchday number<th>
          <th>Corresponding real-life matchday<th></tr>
      {% for fmdid, rmdid in matchdays %}
        <tr>
          <td> <a href = '/leagues/{{lid}}/{{fmdid}}' </a> {{fmdid}} </td>
          <td> <a href = '/rlmatches/#{{rmdid}}' </a> {{rmdid}} </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <h3> Create a fantasy matchday based on a real-life matchday </h3>
  <form method = "POST" action="/create_fm/{{lid}}">
  <select name="rmdid">
    {% for rmdid in rlmatchdays %}
      <option value="{{rmdid}}">Matchday {{rmdid}}</option>
    {%endfor%}
  </select>
  <input type="submit" value="Create Fantasy Matchday">
</form>
</body>
