<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  {% for player, club, cid, ngoals in data %}
    <h1>Statistics of player {{player}}</h1>
    <table>
      <tr>
        <th>Club</th>
        <th>Goals scored</th>
      </tr>
      <tr>
        <td>
          <a href = '/clubs/{{cid}}' </a> {{club}} </td>
        <td> {{ngoals}}
      </tr>
    </table>
  {% endfor %}

  <h1> {{player}} has been drafted by: </h1>
  <table>
    <tr>
      <th>username</th>
      <th>league</th>
    </tr>
    {% for uid, league in data2 %}
      <tr>
        <td>
          <a href = '/users/{{uid}}' </a> {{uid}} </td>
        <td> {{league}} </td>
      </tr>
    {% endfor %}
  </table>
</body>


</html>
