<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>List of top-scorer players</h1>
  <table>
    <tr>
      <th>Player</th>
      <th>Club</th>
      <th> Goals</th>
    </tr>
    {% for player, pid, club, cid, count in data %}
      <tr>
        <td>
          <a href = '/players/{{pid}}'</a> {{player}} </td>
        <td>
          <a href = '/clubs/{{cid}}'</a> {{club}} </td>
        <td> {{count}}
      </tr>
    {% endfor %}
  </table>

</body>


</html>
