<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  {% for player, club, cid, ngoals in data %}
    <h1>Statistics of {{player}}</h1>
    <table>
      <tr>
        <th>Club</th>
        <th>Goals scored</th>
      </tr>
      <tr>
        <td>
          <a href = '/clubs/{{cid}}' </a> {{club}} </td>
        <td> {{ngoals}}
      </tr>
    </table>


  <h1> {{player}} has been drafted by: </h1>
  {% endfor %}

  {% if data2|length == 0%}
  <div> No one yet ! </div>
  {%else%}
  <table>
    <tr>
      <th>username</th>
      <th>league</th>
    </tr>
    {% for uid, league, lid in data2 %}
      <tr>
        <td>
          <a href = '/users/{{uid}}' </a> {{uid}} </td>
        <td> <a href = '/leagues/{{lid}}' </a> {{league}} </td>
      </tr>
    {% endfor %}
  </table>
  {%endif%}
</body>


</html>
