<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>List of all real-life matches</h1>
  {% for rmd in data %}
    <h2>Matchday {{rmd[0]}}
    <table>
      <tr>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
      </tr>
      {% for ht, hid, at, aid, hg, ag in rmd[1] %}
        <tr>
          <td> <a href = '/clubs/{{hid}}'</a> {{ht}} </td>
          <td> {{hg}} - {{ag}} </td>
          <td> <a href = '/clubs/{{aid}}'</a>{{at}} </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}

</body>


</html>
