<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Here is the roster for <a href = '/users/{{uid}}'</a> {{uid}} in league <a href = '/leagues/{{lid}}' </a> {{lname}}</h1>
  {%if roser|length == 0 %}
  <div> {{uid}} hasn't drafted anyone yet! </div>
  {%else%}
    <table>
      <tr>
        <th>Players</th>
      </tr>
      {% for player, pid in roster %}
        <tr>
          <td>
            <a href = '/players/{{pid}}'</a> {{player}} </td>
        </tr>
      {% endfor %}
    </table>
  {%endif%}

  <form method="POST" action="/draft/{{lname}}/{{uid}}">
  <p> Pick a player for your squad: <input type="text" name="player"> <input type="submit" value="Pick"></p>
  </form>

</body>
