<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Homepage for user {{username}}</h1>
  {%if results|length == 0%}
  <div> {{username}} hasn't joined any league yet! </div>
  {%else%}
    <table>
      <tr>
        <th>Leagues</th>
        <th>Ranking</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Defeats</th>
        <th>Points</th>
        <th>Roster</th>
      </tr>
      {% for league, lid, u, w, d, l, p,ranking in results %}
        <tr>
          <td>
            <a href = '/leagues/{{lid}}'</a> {{league}} </td>
          <td> {{ranking}} </td>
          <td> {{w}} </td>
          <td> {{d}} </td>
          <td> {{l}} </td>
          <td> {{p}} </td>
          <td>
            <a href = '/rosters/{{lid}}/{{username}}'</a> See the roster</td>
        </tr>
      {% endfor %}
    </table>
  {%endif%}

  <form method="POST" action="/join_league/{{username}}">
  <p> Join an existing fantasy league: <input type="text" name="league"> <input type="submit" value="Add"></p>
  </form>

  {% if lerror == 1 %}
  <div> {{username}} has already joined this league! </div>
  {% endif %}

  <form method="POST" action="/create_league/{{username}}">
  <p>Create a new fantasy league: <input type="text" name="league"> <input type="submit" value="Add"></p>
  </form>

</body>
